* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.navbar {
  background-color: #F8F3D9;
}

#hero {
  background-color: #EBE5C2;
  color: black;
  text-align: justify;
}

#about p {
  text-align: justify;
}

.nav-pills .nav-link {
  color: #333;
  font-size: 18px;
  font-weight: 500;
}

.nav-pills .nav-link.active {
  background-color: #B9B28A;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.skills-slider-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 40px 0;
}

.skills-slider {
  display: flex;
  gap: 20px;
  width: max-content;
  white-space: nowrap;
}

.skills-card {
  background: #EBE5C2;
  padding: 15px;
  text-align: center;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.skills-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

.projects img {
  height: 300px;
}

@media (min-width: 600px) {
  .skills-card {
    width: 140px;
  }
  .skills-card img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .skills-card {
    width: 160px;
  }
  .skills-card img {
    width: 90px;
    height: 90px;
  }
}