* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.navbar {
  background-color: #F8F3D9;
}

#hero {
  background-color: #EBE5C2;
  color: black;
  text-align: justify;
}

#about p {
  text-align: justify;
}

.nav-pills .nav-link {
  color: #333;
  font-size: 18px;
  font-weight: 500;
}

.nav-pills .nav-link.active {
  background-color: #B9B28A;
  color: white;
}

.col-3 {
  width: 100%;
  text-align: justify;
}

.col-4 {
  width: 50rem;
}

.col-4 ul {
  margin: 30px;
}

.about,
.skills,
.projects,
.contact {
  padding: 4rem 0;
}

.about h2,
.skills h2,
.projects h2,
.contact h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.contact h2 {
  color: #ffff;
}

.skills-grid {
  display: flex;
  justify-content: space-around;
}

.projects-grid {
  display: flex;
  justify-content: space-around;
}

.skills-card {
  background: #EBE5C2;
  padding: 2rem;
  text-align: center;
  width: 30%;
}

.skills-card img {
  width: 100%;
}

.projects-card {
  background: #f4f4f4;
  padding: 2rem;
  text-align: center;
  width: 30%;
}

.projects-card img {
  width: 100%;
}

.contact {
  background: #504B38;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.contact form label {
  margin-bottom: 0.5rem;
}

.contact form input,
.contact form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
}

.contact form button {
  padding: 0.7rem;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding-top: 100px;
  }
  .col-1,
  .col-2 {
    flex-basis: 100%;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .nav-links {
    display: block;
  }

  .nav-links li {
    display: block;
    margin: 10px 0;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .skills-grid {
    flex-direction: column;
    align-items: center;
  }

  .skills-card {
    width: 90%;
    margin-bottom: 1rem;
  }
  .contact form {
    width: 90%;
  }
}